/* Resetting some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/* Navigation Styles */

.navbar-container {
  background-color: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0rem !important;
}

.logo {
  font-weight: bold;
  font-size: 24px;
  font-weight: 700;
  color: #000000;
  margin: 0;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  margin-bottom: 0;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  position: relative;
  color: #000;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #007bff;
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 4px;
  background-color: #007bff;
  transition: width 0.3s ease;
}

.nav-links a:hover::after {
  width: 100%;
}

.nav-links a.active {
  color: #007bff;
  font-weight: 700;
}

.nav-links a.active::after {
  width: 100%;
}

/* Employee Directory Page Design */
.employee-directory-page {
  min-height: 90vh;
  padding: 3rem 0rem;
}

.employee-directory {
  text-align: center;
  margin-top: 0;
  font-size: 2.5rem;
  font-weight: 700;
  color: #007bff;
  letter-spacing: 1px;
}

.filter-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.8rem;
}

/* Search Box */
.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/* Employee Table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border: 2px solid #4a90e2;
  border-radius: 10px;
}

th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #4a90e2;
  color: white;
  font-size: 1.1rem;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f5ff;
}

td {
  color: #000000;
}

.loading {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.viewIcons {
  font-size: 1.5rem;
  color: #000000;
  cursor: pointer;
}

.editIcons {
  font-size: 1.5rem;
  color: #4a90e2;
  cursor: pointer;
  margin: 0px 10px;
}

.deleteIcons {
  font-size: 1.5rem;
  color: #ff0000;
  cursor: pointer;
}

.no-employees {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: #ff0000;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Add Employee Form */
/* Container for the Add Employee Form */
.create-employee {
  width: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("./hero-bg.jpg") no-repeat center center/cover;
  padding: 2rem 0rem;
}

/* Heading styling for the form */
.create-employee-heading {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-weight: 700;
  color: #007bff;
  letter-spacing: 1px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* Styling for the form */
form {
  min-width: 60%;
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
  background-color: rgba(202, 200, 200, 0.8);
  border: 2px solid rgba(51, 77, 221, 0.9);
  border-radius: 8px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}

/* Space between form groups */
form div {
  margin-bottom: 1rem;
}

/* Label styling */
label {
  font-size: 1.3rem;
  font-weight: 700;
  color: #000000;
  margin-right: 0.8rem;
}

/* Input and select styling */
input,
select {
  width: 100%;
  padding: 12px !important;
  font-size: 1.1rem !important;
  font-weight: 600 !important;
  color: #000000 !important;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  transition: border-color 0.3s ease;
  background: rgba(255, 255, 255, 0.9);
}

input:focus,
select:focus {
  border-color: #1a73e8;
}

/* Button styling */
.button {
  padding: 12px 20px !important;
  background-color: #1a73e8 !important;
  color: #fff !important;
  font-size: 1.2rem !important;
  font-weight: 700 !important;
  border: 2px solid #1a73e8 !important;
  border-radius: 8px !important;
  cursor: pointer !important;
  transition: all 0.3s ease 0.2s;
}

.button:hover {
  background-color: transparent !important;
  color: #1a73e8 !important;
}

/* Error text styling */
.error {
  display: block;
  color: red !important;
  font-size: 1rem;
  font-weight: 700;
  margin-top: 0.5rem;
  padding-left: 4px;
}

.form-control-edit {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: #007bff !important;
  border: none !important;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1) !important;
}

.form-control-edit div {
  margin-bottom: 0.5rem;
}

.form-control-edit label {
  font-size: 1.3rem;
  font-weight: 700;
  color: #ffffff !important;
  margin-right: 0.8rem;
}

.edit-button {
  background-color: #ffffff !important;
  color: #007bff !important;
  font-size: 1.2rem !important;
  font-weight: 700 !important;
  border: 2px solid #ffffff !important;
  border-radius: 8px !important;
  cursor: pointer !important;
  transition: all 0.3s ease 0.2s;
}

.edit-button:hover {
  background-color: transparent !important;
  color: #ffffff !important;
}

.footerCopyRightDivStyle {
  background-color: #333333;
  color: #ffffff;
  padding: 1rem;
  text-align: center;
}

.titleStyle {
  font-size: 0.8rem !important;
  line-height: 24px !important;
  font-weight: 600;
  margin-bottom: 0 !important;
}

/* Home Page Styles */
.home-container {
  text-align: center;
}

.hero-section {
  background-color: #007bff;
  color: #ffffff;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-section h1 {
  font-size: 3.2rem;
  font-weight: 700;
  margin-bottom: 20px;
  animation: fadeIn 2s ease-in-out;
}

.hero-text {
  font-size: 1.5rem;
  font-weight: 600;
  color: #ffffff;
  line-height: 1.6;
  margin-bottom: 30px !important;
  animation: fadeIn 2s ease-in-out;
}

a{
  text-decoration: none !important;
}

.cta-button {
  background-color: #ffffff;
  color: #007bff;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.8rem 1.2rem;
  border: 2px solid #ffffff;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 0;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.cta-button:hover {
  background-color: transparent;
  color: #ffffff;
}

/* Features Section */
.features {
  background: #ffffff;
  height: 100%;
  width: 100%;
  padding: 5rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.features h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 3rem;
  color: #007bff;
}

.feature-cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  animation: fadeIn 3s ease-in-out;
}

.feature-card {
  background: white;
  padding: 1.5rem 2rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.feature-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
}

.feature-card h3 {
  color: #007bff;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
}

.feature-card p {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
}

/* Testimonial Section */
.testimonial {
  background-color: #007bff;
  padding: 5rem 0rem;
}

.testimonial h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 3rem;
  color: #ffffff;
}

.testimonial-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.testimonial-card {
  background: #ffffff;
  padding: 1.5rem 2rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  max-width: 350px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.testimonial-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
}

.testimonial-card p {
  font-size: 18px;
  font-style: italic;
  color: #000000;
  line-height: 1.5;
  font-weight: 600;
  margin-bottom: 20px;
}

.testimonial-card h4 {
  font-size: 20px;
  color: #007bff;
  font-weight: bold;
}

/* Keyframe Animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* About Page Styles */
.about-container {
  text-align: center;
}

/* Hero Section */
.about-hero-section {
  background: url("./about-us-banner.jpg") no-repeat center center/cover;
  color: #ffffff;
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-hero-section h1 {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  animation: fadeIn 2s ease-in-out;
}

.about-hero-section p {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 0;
  animation: fadeIn 2s ease-in-out;
}

.section-we-are {
  background: #ffffff;
  height: 100%;
  width: 100%;
  padding: 5rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-we-are h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: #007bff;
}

.section-we-are p {
  font-size: 1.5rem;
  font-weight: 600;
  color: #000000;
  margin-bottom: 0rem;
  line-height: 1.6;
  max-width: 70%;
}

/* Mission Section */
.mission {
  background: #007bff;
  height: 100%;
  width: 100%;
  padding: 5rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mission h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: #ffffff;
}

.mission p {
  font-size: 1.5rem;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 0rem;
  line-height: 1.6;
  max-width: 60%;
}

/* Contact Section */
.contact {
  background: #ffffff;
  height: 100%;
  width: 100%;
  padding: 5rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: #007bff;
}

.contact-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.contact-details p {
  font-size: 1.5rem;
  font-weight: 600;
  color: #000000;
  margin-bottom: 0rem;
  line-height: 1.6;
}

/* Animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.employee-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.page-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2.5rem;
  color: #000000;
}

.employee-card {
  background: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 4px 15px 0.8px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 600px;
  text-align: center;
}

.employee-name {
  font-size: 1.8rem;
  font-weight: bold;
  color: #007bff;
  margin-bottom: 1.5rem;
}

.employee-table {
  width: 100%;
  border: none;
  margin-top: 10px;
}

.employee-table tbody {
  padding: 2rem;
}

.employee-table tr {
  border-bottom: 1px solid #ddd;
}

.employee-table td {
  padding: 10px;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 700;
  color: #000000;
}

.employee-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.status-working {
  color: #27ae60;
  font-weight: bold;
}

.status-retired {
  color: #e74c3c;
  font-weight: bold;
}

.error-message {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #3498db;
}

.not-found {
  font-size: 20px;
  font-weight: bold;
  color: #e74c3c;
  text-align: center;
}
